fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

sqlalchemy
psycopg[binary]
alembic
pgvector

python-jose[cryptography]
passlib[bcrypt]
python-multipart

httpx

langchain
langchain-core
langchain-community
langchain-huggingface
langgraph

huggingface-hub

pypdf
python-docx

redis
celery

pytest
pytest-asyncio
pytest-cov

ruff